.profileButtons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.subscribeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
    width: 110px;
    height: 50px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--color-button);
}
.subscribeButton:hover {
    opacity: 0.9;
}
.subscribeButton:active {
    opacity: 0.7;
}
.squareButton {
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    color: var(--color-button);
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    stroke: var(--color-button);
    background-color: rgba(38, 38, 38);
}

.squareButton:hover {
    background-color: rgba(38, 38, 128, 0.5);
}

.squareButton svg {
    margin-top: 5px;
    width: 30px;
    height: 40px;
}