.post {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  background-color: rgb(38 38 38);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.postTitle {
  display: flex;
  align-items: start;
  column-gap: 1rem;
}
.postInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.createDate {
  color: #757476;
}
.imgContainer img {
  border-radius: 50%;
  width: 50px;
}
.actionsContainer {
  display: flex;
  gap: 5px;
  padding-top: 10px;
}
.actionBtn {
  border-radius: 15px 15px 15px 15px;
  padding: 7px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #333;
  cursor: pointer;
}
.actionBtn svg {
  width: 20px;
  height: 20px;
}
.likeBtnActive {
  background-color: tomato;
}
.likeBtnInactive {
  background-color: #333;
}
