.chat {
    background-color: rgba(38, 38, 38);
    display: flex;
    flex-direction: column;
    border-radius: .875rem;
    border-top: 10px;
    position: relative;
    flex-grow: 1;
    padding: 20px 60px;
    margin-bottom: 20px;
    width: calc(100vh - 350px);
    max-height: calc(100vh - 80px - 20px);
}
.chat.nonSelected {
    align-items: center;
    justify-content: center;
}
.nonSelectedChat {
    color: #757476
}