* {
  --color-button: #2f7cda;
  --color-main-background: rgb(242 242 242);
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
#root {
  width: 100%;
}

body {
  width: 100%;
  background-color: var(--color-main-background);
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1096px;
}
.header div {
  display: flex;
  justify-content: space-between;
}
h3 {
  font-size: 24px;
  cursor: pointer;
}
.logoImg img {
  width: 80px;
}

.logoText {
  display: flex;
  align-items: center;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main {
  width: 100%;
}
.imgContainer img {
  border-radius: 50%;
  width: 50px;
}
.post {
  background-color: rgb(255 255 255);
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid rgb(255 255 255);
  border-radius: 10px;
}
.postTitle {
  display: flex;
  align-items: center;
}
.authorNameContainer {
  margin-left: 1rem;
}
.buttonSignContainer {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonSign {
  cursor: pointer;
  width: 60px;
  height: 40px;
  border: none;
  color: white;
  font-weight: 20px;
  font-size: bold;
  border-radius: 5px;
  background-color: var(--color-button);
}
.buttonSign:hover {
  background-color: #2f7cda;
  opacity: 0.9;
}
.buttonSign:active {
  opacity: 0.7;
}
