.chatsList {
    background-color: rgba(38, 38, 38);
    display: flex;
    flex-direction: column;
    border-radius: .875rem;
    border-top: 10px;
    max-width: 350px;
    position: relative;
    flex-grow: 1;
    padding: 20px 15px;
    margin-bottom: 20px;
    overflow-y: scroll;
    max-height: calc(100vh - 80px - 20px);
}
.chatsList::-webkit-scrollbar {
    width: 0;
}

.chatsList::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.chatsList::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.usersCards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 1rem 0;
    width: 100%;
    background: transparent;
}