.header div {
  display: flex;
  justify-content: space-between;
}
h3 {
  font-size: 24px;
  cursor: pointer;
}
.logoImg img {
  width: 80px;
}

.logoText {
  display: flex;
  align-items: center;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav > * {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.buttonSignContainer {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonSign {
  user-select: none;
  cursor: pointer;
  width: 60px;
  height: 40px;
  border: none;
  color: white;
  font-weight: 20px;
  font-size: bold;
  border-radius: 5px;
  background-color: var(--color-button);
}
.buttonSign:hover {
  opacity: 0.9;
}
.buttonSign:active {
  opacity: 0.7;
}
