.userItemContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(38 38 38);
    border-radius: 10px;
    padding: 20px;
}
.avatarContainer {
    position: relative;
}

.avatarContainer img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.userTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.onlineStatus {
    color: #757476;
}
.userName {
    color: white;
    font-size: 20px;
}

.writeMessageLinkContainer a {
    font-size: 14px;
    color: var(--color-button);
    text-decoration: none;
    user-select: none;
}
.SubscribeBtnContainer {
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.friendRequestButton, .viewProfileButton {
    cursor: pointer;
    height: 50px;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    padding: .5rem;
    background-color: var(--color-button);
}
.SubscribeBtn:hover {
    opacity: 0.9;
}
.SubscribeBtn:active {
    opacity: 0.7;
}
.userItemInfo {
    display: flex;
    gap: 20px;
}

.messageButton {
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    color: var(--color-button);
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    stroke: var(--color-button);
    background-color: rgba(38, 38, 38);
}

.messageButton:hover {
    background-color: rgba(38, 38, 128, 0.5);
}

.messageButton svg {
    margin-top: 5px;
    width: 30px;
    height: 40px;
}