.chatsListItem {
    display: grid;
    padding: 1rem .5rem;
    background-color: rgba(23, 23, 23, .9);
    align-items: center;
    max-height: 5rem;
    border-radius: .675rem;
    grid-template-columns: calc(40px + 2rem) auto;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "avatar chatListItemInfo";
    cursor: pointer;
}
.avatar {
    grid-area: avatar;
    padding: 0 1rem;
}
.chatsListItemInfo {
    grid-area: chatListItemInfo;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
}
.userStatus > span {
    color: #757476;
}
.typingStatus {
    display: flex;
    align-items: flex-end;
    color: #757476;
}
.typingLoader {
    display: flex;
    align-items: center;
    position: relative;
    padding: 2px 0;
}
.typingLoaderDot {
    float: left;
    width: 4px;
    height: 4px;
    margin: 0 1px;
    background: #757476;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
}

.typingLoaderDot:nth-child(1) {
    animation-delay: 0s;
}

.typingLoaderDot:nth-child(2) {
    animation-delay: 0.2s;
}

.typingLoaderDot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loadingFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}