.profileHeader {
  margin-top: 10px;
  display: flex;
  width: 100%;
  min-height: 400px;
  flex-direction: column;
  background-color: rgba(38, 38, 38);
  border-radius: 10px;
}
.coverContainer {
  width: 100%;
  display: flex;
  height: 300px;
  padding: 15px 15px 0 15px;
  flex-direction: column;
  align-items: center;
}
.pageCover {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.profileInfo {
  display: flex;
  margin: 0px 30px;
  justify-content: space-between;
  align-items: center;
}

.profileAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.mainInfo {
  position: relative;
  bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.mainInfoUserName {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}
.mainInfoAbout {
  font-size: 15px;
}

.profileButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.subscribeButton {
  user-select: none;
  cursor: pointer;
  width: 110px;
  height: 50px;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--color-button);
}
.squareButton {
  user-select: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  stroke: #555555;
  background-color: white;
}
.squareButton svg {
  margin-top: 5px;
  width: 30px;
  height: 40px;
}
